
    :root{
        --main-color:blue;
        --black:#333;
        --white:#fff;
        --light-color:#666;
        --border:.2rem solid var(--main-color);
        --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
     }
     
     *{
        font-family: Helvetica, sans-serif;
        margin:0; padding:0;
        box-sizing: border-box;
        outline: none; border:none;
        text-decoration: none;
        text-transform: capitalize;
     }
     
     *::selection{
        background-color: var(--main-color);
        color:var(--white);
     }
     
     ::-webkit-scrollbar{
        height: .5rem;
        width: 1rem;
     }
     
     ::-webkit-scrollbar-track{
        background-color: transparent;
     }
     
     ::-webkit-scrollbar-thumb{
        background-color: var(--main-color);
     }

     html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-padding-top: 6.5rem; 
   }
  .login-form{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   width: 60vw;
   padding: 40px 35px;
   position: absolute;
   top: -50%;
   left: 50%;
   transform: translate(-50%,-50%);
   transition: 2s;
  }
  
  .showlogin-form{
     top: 50%;
  }
  .login-form span{
   position: absolute;
   top: 0;
   right: 0;
   width: 30px;
   height: 30px;
   line-height: 30px;
   background-color: var(--main-color);
   color: var(--white);
   text-align: center;
   font-size: 1rem;
  }
  .login-form label{
   font-size: 1.7rem;
   padding: 1rem 0;
   color: var(--black);
  }
  .login-form input{
   width: 100%;
   padding: 5px;
   border: 1px solid var(--black);
   margin: 1rem 0;

  }
  .login-form .login-btn{
   background-color: var(--main-color);
   color: var(--white);
   padding: 1rem 2rem;
   border-radius: 1rem;
  }
  .signup-form{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   width: 60vw;
   padding: 40px 35px;
   position: absolute;
   top: -50%;
   left: 50%;
   transform: translate(-50%,-50%);
   transition: 2s;
  }
  
  .showsignup-form{
     top: 50%;
  }
  .signup-form span{
   position: absolute;
   top: 0;
   right: 0;
   width: 30px;
   height: 30px;
   line-height: 30px;
   background-color: var(--main-color);
   color: var(--white);
   text-align: center;
   font-size: 1rem;
  }
  .signup-form label{
   font-size: 1.7rem;
   padding: 1rem 0;
   color: var(--black);
  }
  .signup-form input{
   width: 100%;
   padding: 5px;
   border: 1px solid var(--black);
   margin: 1rem 0;

  }
  .signup-form .signup-btn{
   background-color: var(--main-color);
   color: var(--white);
   padding: 1rem 2rem;
   border-radius: 1rem;
  }
   .heading{
      font-size: 3rem;
      color: var(--main-color);
      padding: 3rem 0;
      text-align: center;
   }

     .header{
        position: sticky;
        top: 0; right: 0; left: 0;
        background-color: var(--white);
        box-shadow: var(--box-shadow);
        z-index: 1000;
        width: 100%;
     }
     .header .nav-container{
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
     .nav-container .logo{
        font-style: italic;
        font-size: 2rem;
        font-weight: bold;
        color: var(--main-color);
        margin-left: 4rem;
     }
     .nav-container .navbar a{
         margin-right: 2rem;  
         font-size: 1.7rem;
         color: var(--black);
     }
     .nav-container .navbar a:hover{
        color: var(--main-color);
        font-weight: bold;
        text-decoration: underline;
    }
     #menu-btn{
        display: none;
        font-size: 2.5rem;
        margin-right: 2rem;
        color: var(--main-color);
     }
     .home{
        display: flex;
       align-items: center;
       justify-content: center;
        height: 52rem; 
        width: 100%;
        box-shadow: var(--box-shadow);
     }
     .home .home-container h1{
        font-style: italic;
        font-size: 4rem;
        padding-bottom: 2rem;
        color: var(--main-color);
        text-align: center;
     }
     .home-container p{
        color: var(--light-color);
        font-size: 1.7rem;
        padding: 0 8rem;
        text-align: center;
     }
     .home-container .btn-box{
      text-align: center;
      padding-top: 4rem;
     }
     .btn-box a{
        margin: 1rem;
       background-color: var(--main-color);
       color: var(--white);
       padding: 1rem 2rem;
       font-size: 1.7rem;
       border-radius: 1rem;
     }
     .btn-box a:hover{
        background-color: var(--white);
        color: var(--main-color);
     }
     .course-container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      margin: 0 4rem;
     
     }
     .course-container .box-1{
      flex: 1 1 30rem;
      box-shadow: var(--box-shadow);
     }
     .course-container .box-1 iframe{
      width: 100%;
       height: 30vh;
     }
     .course-container .box-1 p{
      font-size: 1.7rem;
      color: var(--black);
      padding: 2rem 0;
      text-align: center;
     }
     .footer{
      padding-top: 6rem;
     }
     .footer .footer-contain{
      background-color: var(--main-color);
      padding: 1rem 0;
     }
     .footer-contain p{
      text-align: center;
      font-size: 1.5rem;
      color: var(--white);
      font-weight: bold;
     }
     .course-menu{
      width: 100%;
      background-color: var(--main-color);
      padding: 1rem 0;
     }
     .course-menu ul{
      list-style: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
     }
     .course-menu ul li{
      flex: 1 1 20rem;
     }
     .course-menu ul li a{
      color: var(--white);
      font-size: 1.7rem;
      padding: 0 1rem;
     }
     .contact{
      padding: 0 4rem;
     }
     .contact .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
     }
     .contact .row .image{
      flex: 1 1 40rem;
      width: 100%;
     }
     .contact .row .form{
      flex: 1 1 40rem;
      border: 5px solid var(--main-color);
      padding: 4rem;
      text-align: center;
      box-shadow: var(--box-shadow);
     }
  .contact .row .form .box{
   display: block;
   padding: 1rem;
   width: 100%;
   margin-bottom: 1rem;
   border: 1px solid var(--black);
  }
  .contact .row .form .textarea{
   border: 1px solid var(--black);
   width: 100%;
  }
  .contact .row .form .btn{
   background-color: var(--main-color);
   color: var(--white);
   padding: 1rem 2rem;
   border-radius: 1rem;
   margin: 1.5rem 0;
  }
  .contact .row .form .btn:hover{
   background-color: var(--white);
   color: var(--main-color);
  }
  .contact .row .form .info-container i{
font-size: 3rem;
color: var(--main-color);
padding: 0 1rem;
  }
  .blog{
   margin: 0 4rem;
  }
  .blog-container .blog-1{
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 gap: 1rem;
  }
.blog-container .blog-1 .blog-img{
   flex:1 1 20rem;
}
.blog-container .blog-1 .blog-img img{
   width: 100%;
   height: 20rem;
}
.blog-container .blog-1 .blog-img h5{
text-align: center;
font-size: 2rem;
color: var(--black);
padding: 1rem 0;
}
.blog-container .blog-1 .para{
   flex:1 1 80rem;
   font-size: 1.5rem;
   color: var(--light-color);

}
.blog-container .blog-1 .para a{
   color: var(--main-color);
}


.blog-container .blog-2{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1rem;
    }
  .blog-container .blog-2 .blog-img{
     flex:1 1 20rem;
  }
  .blog-container .blog-2 .blog-img img{
     width: 100%;
     height: 20rem;
  }
  .blog-container .blog-2 .blog-img h5{
  text-align: center;
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
  }
  .blog-container .blog-2 .para{
     flex:1 1 80rem;
     font-size: 1.5rem;
     color: var(--light-color);
  
  }
  .blog-container .blog-2 .para a{
     color: var(--main-color);
  }
 .notes-container{
   display: flex;
   flex-wrap: wrap;
   gap: 4rem;
 }
 .notes-container .sidebar{
   position: sticky;
   top: 100px;
 }
 
 .notes-container .topic{
   flex: 1 1 15rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   height: 100%;
 }
 .notes-container .topic a{
   display: block;
   text-align: center;
   color: var(--black);
   font-size: 1.5rem;
   padding: 1rem 0;
 }
 .notes-container .topic a:hover{
   color: var(--main-color);
   cursor: pointer;
 }
 .notes-container .topic-content{
   flex: 1 1 85rem;
 }
 .notes-container .topic-content h5{
   font-size: 2rem;
   color: var(--black);
 }
 

   
     





  @media screen and (max-width:998px){
   html{
      font-size: 55%;
   }
   .contact .row .image img{
      width: 100%;
   }
   .blog-container .blog-2 .para{
      order: 2;
      margin-bottom: 2rem;
    }
  }
     @media screen and (max-width:768px) {
      #menu-btn{
         display: inline-block
      }
      .nav-container .navbar{
         position: absolute;
         top: 99%;
         left: 0;
         right: 0;
         background-color: var(--main-color);
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         transition: .2s linear;

      }
      .nav-container .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
      .nav-container .navbar a{
         display: block;
         color: var(--white);
         margin: 2rem;
      }
      .blog-container .blog-2 .para{
        order: 2;
        margin-bottom: 2rem;
      }
      .notes-container .sidebar{
         position: static;
         height: 100%;
      }
      .login-form{
         height: 80vh;
      }
      .signup-form{
         height: 80vh;
      }
 }
   